 .pd {
   padding: 0.5em;
 }
 
 .m {
   margin: 0.5em;
}
 
 .m-s {
  margin-left: 0.5em;
 } 

 .m-e {
  margin-right: 0.5em;
 }
 
 .m-se {
   margin-left: 0.5em;
   margin-right: 0.5em;
 }


.search-box {
  background: @popover_bg_color;
  border-bottom: 1px solid @borders;
  padding: 6px;
}

.currency-selector list {
  padding: 6px;
  padding-top: 4px;
}

.currency-selector row {
  margin-top: 2px;
}

.currency-selector separator {
  margin: 0 6px;
}
