@define-color accent_color @green_3;
@define-color accent_bg_color @green_5;

selection {
  background-color: alpha(@green_1, 0.2);
}

.pd {
   padding: 0.5em;
 }
 
 .m {
   margin: 0.5em;
}
 
 .m-s {
  margin-left: 0.5em;
 } 

 .m-e {
  margin-right: 0.5em;
 }
 
 .m-se {
   margin-left: 0.5em;
   margin-right: 0.5em;
 }

 .rounded {
  border-radius: 6px;
 }

.bg-error {
  background-color: alpha(@error_color, 0.3);
}

.bg-accent {
  background-color: alpha(@accent_bg_color, 0.3);
}

.search-box {
  background: @popover_bg_color;
  border-bottom: 1px solid @borders;
  padding: 6px;
}

.currency-selector list {
  padding: 6px;
  padding-top: 4px;
}

.currency-selector row {
  margin-top: 2px;
}

.currency-selector separator {
  margin: 0 6px;
}

.f-l {
  font-size: 28px;
}

.text-light {
  color: rgb(255, 255, 255);
}

.bg-accent-color {
  background-color: @accent_bg_color;
}

.top-transform {
  transform: translateY(-20px);
}

.large-button {
  padding: 0.5em;
}

